.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  font-size: 14px;
  font-style: italic;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.validation-error {
  font-size: 14px;
  margin: 5px 0;
}

@keyframes FadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}