::-moz-selection {
  background: $primary;
  color: $white;
  text-shadow: none;
}

::selection {
  background: $primary;
  color: $white;
  text-shadow: none;
}

img::selection {
  background: transparent;
  color: $white;
}

img::-moz-selection {
  background: transparent;
  color: $white;
}
